[bumpversion]
current_version = 1.2.0

[bumpversion:file:CITATION.cff]
search = version: {current_version}
replace = version: {new_version}

[bumpversion:file:.zenodo.json]
search = "version": "{current_version}"
replace = "version": "{new_version}"

[bumpversion:file:schema-guide.md]
