<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="full-width">
    <a class="github-fork-ribbon" href="https://github.com/sdruskat/citation-file-format" title="Fork me on GitHub">Fork me on GitHub</a>
    <h1>{{ page.title }}</h1>
    <p class="subtitle">{{ page.subtitle }}</p>
    <p class="subtitle">{{ page.author }}</p>
    <p class="subtitle">{{ page.last-modified-date | date: '%d %B %Y' }}</p>
    <p> [<a href="./assets/pdf/cff-specifications.pdf">Download as PDF</a>]<br/></p>

    <article>
    {% if page.abstract %}
        <h1>Abstract</h1>
        {{ page.abstract | liquefy | markdownify}}
    {% endif %}
    {{ content }}
    {% bibliography %}
    {% include versions.html %}
    </article>

    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
