<!DOCTYPE html>
<html>
  {% include head.html %}
  <body class="full-width">
    </article>
    <h1>{{ page.title }}</h1>
	<p class="subtitle">{{ page.subtitle }}</p>
  <label for="pdf" class="margin-toggle">&#8853;</label>
<input type="checkbox" id="pdf" class="margin-toggle"/>
<p>
  [<a href="./assets/pdf/cff-specifications.pdf">Download as PDF</a>]
  <br/>
</p>
  </p>
      {{ content }}
    {% bibliography %}
    <article>
    {% include print-footer.html %}
    {% include footer.html %}
  </body>
</html>
