name: linting

on:
  push:
  pull_request:
    types: [opened, synchronize, reopened]
  paths:
    - schema.json


jobs:
  lint:
    name: "lint schema"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        name: Check out a copy of the repository

    - name: lint the schema
      shell: bash -l {0}
      run: |
        cat schema.json | jq -S --indent 4 '.' > schema.sorted.json
        diff schema.json schema.sorted.json
